alembic
blinker
click
Flask
Flask-Migrate
Flask-Reuploaded==1.4.0
Flask-SQLAlchemy
Flask-WTF
greenlet
importlib_metadata
importlib_resources
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary==2.9.9
pytz==2024.2
setuptools==70.1.1
SQLAlchemy==2.0.29
sqlalchemy-serializer==1.4.22
typing_extensions
waitress
Werkzeug
wheel==0.43.0
WTForms
zipp
