{% extends 'base.html' %} {% block title %} Interaktive Museumsinstallation {% endblock %} {% block content %}
<div class="ms-container">
  <div class="ms-header">
    <div class="first-row btn-before"><a href="{{ url_for('index') }}" id="go-back" class="nav-btn btn-back">zurück</a></div>
    <div class="second-row">
      <h1>{{ mediastation.title }}</h1>
      <button class="pointer" id="favorize">
        favorisieren<svg id="icon-fav" class="icon pointer"><use href="{{ url_for('static', filename='svg/icons.svg') }}#icon-fav"></use></svg>
      </button>
    </div>
  </div>

  <div id="js-book-page" class="ms-book fade-in">
    <div class="ms-book-page-one">
      <div class="slider-control">
        <div class="slider-container ms-image">
          <div id="js-slider" class="slider-wrapper notransition" data-value="">
            {% for image in mediastation.image_urls %}
            <div class="slide">
              <a href="{{ url_for('get_mediastation_images', id=mediastation.id) }}"><img class="" src="{{ url_for('get_image', img=image) }}" alt="{{mediastation.title}}" /></a>
            </div>
            {% endfor %}
          </div>
        </div>
        <button class="slider-button prev">
          <svg id="icon-arrow-left" class="icon pointer"><use href="{{ url_for('static', filename='svg/icons.svg') }}#icon-arrow-left"></use></svg>
        </button>
        <button class="slider-button next">
          <svg id="icon-arrow-right" class="icon pointer"><use href="{{ url_for('static', filename='svg/icons.svg') }}#icon-arrow-left"></use></svg>
        </button>
      </div>

      <div class="ms-play"><a href="{{ url_for('get_media', id=mediastation.id) }}" class="ms-play-btn bold">Medienstation abspielen</a></div>

      <div class="ms-description pb-25">
        <h2>Beschreibung</h2>
        <p>{% if mediastation.description %} {{ mediastation.description }} {% endif %}</p>
      </div>
      <div class="ms-wrapper">
        <div class="ms-involved">
          <h2>Beteiligte</h2>
          <ul>
            {% if mediastation.involved %}
            <li><!-- for person in involved print list here --></li>
            {% else %}
            <li>Unbekannt</li>
            {% endif%}
          </ul>
        </div>
        <div class="ms-comment">
          <h2>Kommentar</h2>
          {% if mediastation.comments %}
          <p><!-- for comment in comments print list here --></p>
          {% else %}
          <p>Kein Kommentar vorhanden.</p>
          {% endif%}
        </div>
      </div>
    </div>
    <div class="ms-book-page-two">
      <div class="ms-general pb-25">
        <h2>Allgemeine Informationen</h2>
        <table class="ms-inf">
          <tr>
            <th>Ausstellung</th>
            <td>{{ exhibition.title }}</td>
          </tr>
          <tr>
            <th>Museum</th>
            <td>{{ exhibition.location }}</td>
          </tr>
          <tr>
            <th>Zeitraum</th>
            <td>{{ exhibition.start_date[8:10] }}.{{ exhibition.start_date[5:7] }}.{{ exhibition.start_date[:4] }} &horbar; {{ exhibition.end_date[8:10] }}.{{ exhibition.end_date[5:7] }}.{{ exhibition.end_date[:4] }}</td>
          </tr>
          <tr>
            <td colspan="2" style="height: 10px"></td>
          </tr>
          <tr>
            <th>Vermittlungsziel</th>
            <td>{{ mediastation.goal }}</td>
          </tr>
          <tr>
            <th>Zielgruppe</th>
            <td>{{ mediastation.target }}</td>
          </tr>
          <tr>
            <th>Umfang</th>
            <td>{{ mediastation.scope }}</td>
          </tr>
        </table>
      </div>

      <div class="ms-media pb-25">
        <h2>Umsetzung</h2>
        <div id="js-filter-link" class="ms-wrapper-no-overflow">
          <div class="ms-media-col">
            <h3 class="c-r">Medienarten</h3>
            <ul>
              {% for mt in mediatypes %}
              <li class="realization" data-tooltip="danach Filtern:" data-type="media_type"><a href="{{ url_for('index') }}">{{ mt.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="ms-media-col">
            <h3 class="c-g">Interaktionen</h3>
            <ul>
              {% for it in interactions %}
              <div class="realization-tooltip">
                <li class="realization" data-tooltip="danach Filtern:" data-type="interaction_type"><a href="{{ url_for('index') }}">{{ it.name }}</a></li>
              </div>

              {% endfor %}
            </ul>
          </div>
          <div class="ms-media-col">
            <h3 class="c-b">Visualisierungen</h3>
            <ul>
              {% for viz in visualizations %}
              <li class="realization" data-tooltip="danach Filtern:" data-type="visualization_type"><a href="{{ url_for('index') }}">{{ viz.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  window.mID = '{{mediastation.id}}';
</script>
<script type="module" src="{{ url_for('static', filename='js/mediastation.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/modules/slider.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/modules/favorize.js') }}"></script>

<script type="module">
  import { initSlider } from "{{ url_for('static', filename='js/modules/slider.js') }}";
  const wrapperElement = document.getElementById('js-slider');
  let initialSlideIdx = 1;
  const recentSliderIdx = JSON.parse(sessionStorage.getItem('recentIdx'));

  // rendering errors otherwise - i.e. buggy slidess
  window.addEventListener('load', function () {
    wrapperElement.addEventListener('click', () => {
      sessionStorage.setItem('recentIdx', JSON.stringify(wrapperElement.getAttribute('data-value')));
      console.info(`Added image-index of ${wrapperElement.getAttribute('data-value')} to session Storage.`);
    });

    if (recentSliderIdx) {
      const slides = document.querySelectorAll('.slide');
      console.log('JA Es gab den index', recentSliderIdx);
      initialSlideIdx = parseInt(recentSliderIdx);
      sessionStorage.removeItem('recentIdx');
    }
    initSlider({
      sliderWrapperSelector: '.slider-wrapper',
      slidesSelector: '.slide',
      prevButtonSelector: '.slider-button.prev',
      nextButtonSelector: '.slider-button.next',
      idx: initialSlideIdx,
    });

    setTimeout(() => {
      wrapperElement.classList.remove('notransition');
      const buttonLeft = document.querySelector('.slider-button.prev');

      if (recentSliderIdx > 1) {
        for (let i = 1; i < recentSliderIdx; i++) {
          buttonLeft.click();
          wrapperElement.style.transition = 'transform 750ms ease-in-out';
        }
      }
    }, 500);
  });

  const contentFadeInElement = document.getElementById('js-book-page');

  setTimeout(() => {
    contentFadeInElement.classList.add('show');
  }, 10);
</script>

{% endblock %}
