{% extends 'base.html' %} {% block title %} Interaktive Museumsinstallation {% endblock %} {% block content %}
<div class="ms-container">
  <div class="ms-header">
    <div class="first-row btn-before"><a href="{{ url_for('get_mediastation', id=mediastation.id) }}" id="go-back" class="nav-btn btn-back">zurück</a></div>
    <div class="second-row">
      <h1>{{ mediastation.title }}</h1>
      <button class="pointer" id="favorize">
        favorisieren<svg id="icon-fav" class="icon pointer"><use href="{{ url_for('static', filename='svg/icons.svg') }}#icon-fav"></use></svg>
      </button>
    </div>
  </div>
  <div class="ms-book">
    <div id="js-book-page" class="ms-book-page no-overflow fade-in">
      <div class="slider-control fullscreen-img">
        <div class="slider-container ms-image change-size">
          <div id="js-slider" class="slider-wrapper notransition" data-value="">
            {% for image in mediastation.image_urls %}
            <div class="slide">
              <img class="" src="{{ url_for('get_image', img=image) }}" alt="{{mediastation.title}}" />
            </div>
            {% endfor %}
          </div>
        </div>
        <button class="slider-button prev">
          <svg id="icon-arrow-left" class="icon pointer"><use href="{{ url_for('static', filename='svg/icons.svg') }}#icon-arrow-left"></use></svg>
        </button>
        <button class="slider-button next">
          <svg id="icon-arrow-right" class="icon pointer"><use href="{{ url_for('static', filename='svg/icons.svg') }}#icon-arrow-left"></use></svg>
        </button>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
{% block script %}
<script>
  window.mID = '{{mediastation.id}}';
</script>
<script type="module" src="{{ url_for('static', filename='js/mediastation.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/modules/slider.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/modules/favorize.js') }}"></script>

<script type="module">
  import { initSlider } from "{{ url_for('static', filename='js/modules/slider.js') }}";

  const link = document.getElementById('go-back');
  const slideWrapper = document.getElementById('js-slider');
  const recentIDX = JSON.parse(sessionStorage.getItem('recentIdx'));

  // update slide index on clicking the back-btn
  link.addEventListener('click', () => {
    sessionStorage.setItem('recentIdx', JSON.stringify(slideWrapper.getAttribute('data-value')));
    console.info(`Added image-index of ${slideWrapper.getAttribute('data-value')} to session Storage.`);
  });

  // rendering errors otherwise - i.e. buggy slidess
  window.addEventListener('load', function () {
    if (recentIDX) {
      const recentIdx = parseInt(recentIDX);
      console.log(recentIdx);
      initSlider({
        sliderWrapperSelector: '.slider-wrapper',
        slidesSelector: '.slide',
        prevButtonSelector: '.slider-button.prev',
        nextButtonSelector: '.slider-button.next',
        idx: recentIdx,
        effect: true,
      });
    }
  });

  window.mID = '{{mediastation.id}}';

  const contentFadeInElement = document.getElementById('js-book-page');

  setTimeout(() => {
    contentFadeInElement.classList.add('show');
  }, 10);
  setTimeout(() => {
    slideWrapper.classList.remove('notransition');
  }, 500);
</script>

{% endblock %}
